flask
scikit-learn
jieba
snownlp
paddlepaddle
## 
# https://download.pytorch.org/whl/cpu/torch-1.1.0-cp36-cp36m-win_amd64.whl
# https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp36-cp36m-win_amd64.whl
##
#pytorch-pretrained-bert==0.6.1